<!--このファイルは直接表示されず、jinja2のinclude機能で挿入するファイルです。新しくFAQを作る場合は_FAQ_template.htmを参照してください。-->
{% set qnum = namespace(cnt = 1) %}
{% macro faq(ques,ans) %}
<div class="card">
    <div class="card-header" id="header-4a">
        <button id="faqque" class="btn btn-link collapsed faqque" type="button" data-toggle="collapse"
            data-target="#D{{ qnum.cnt }}" aria-expanded="true" aria-controls="D{{ qnum.cnt }}" style="background-color: #00000008;
    color: black; font-size: small;">
            <small>◯</small>
            {{ ques }}
        </button>
    </div>
    <div id="D{{ qnum.cnt }}" class="collapse" aria-labelledby="header-4a">
        <div class="card-body" style="font-size: small;">
            {{ ans }}
        </div>
    </div>
</div>
{% set qnum.cnt = qnum.cnt + 1 %}
{% endmacro %}
<section class="faqboard" id="faq-resdownload">
    <i class="fas fa-chevron-circle-right">授業資料のダウンロードについて</i>
    <div class="accordion" id="que_acc3">
        {{ faq('ダウンロード済み資料をもう一度ダウンロードしたいのですが、どうすればいいですか','ダウンロード済み資料をもう一度ダウンロードするには、資料名をクリックしてください') }}
        {{ faq('資料のファイル名の文字が2色あるのですが','青い色がまだ見ていない資料、赤みがかっているのはすでに見た資料になります。あくまでPandAsh内での情報になりますので、PandAからそのまま確認した場合はカウントしません。') }}
        {{ faq('授業資料のダウンロードでは、フォルダ構造を保存しますか','しません。資料をダウンロードする場合、それぞれの保存場所は各個人の操作にお任せしております。') }}
    </div>
</section>