<!--このファイルは直接表示されず、jinja2のinclude機能で挿入するファイルです。新しくFAQを作る場合は_FAQ_template.htmを参照してください。-->
{% set qnum = namespace(cnt = 1) %}
{% macro faq(ques,ans) %}
<div class="card">
    <div class="card-header" id="header-4a">
        <button id="faqque" class="btn btn-link collapsed faqque" type="button" data-toggle="collapse"
            data-target="#C{{ qnum.cnt }}" aria-expanded="true" aria-controls="C{{ qnum.cnt }}" style="background-color: #00000008;
    color: black; font-size: small;">
            <small>◯</small>
            {{ ques }}
        </button>
    </div>
    <div id="C{{ qnum.cnt }}" class="collapse" aria-labelledby="header-4a">
        <div class="card-body" style="font-size: small;">
            {{ ans }}
        </div>
    </div>
</div>
{% set qnum.cnt = qnum.cnt + 1 %}
{% endmacro %}
<section class="faqboard" id="faq-overview">
    <i class="fas fa-chevron-circle-right">課題の時間割表示について</i>
    <div class="accordion" id="que_acc3">
        {{
        faq('その他の科目とはなんですか','時間割に表示することができなかった科目です。たとえば１時限に２つの授業が重なっている場合、一方のみが時間割内に表示され、もう一方はその他の科目に表示されます。また、「教職課程オリエンテーション」や集中講義など、決まった時限の存在しないものもその他の科目に表示されます。')
        }}
        {{ faq('全ての課題が表示されていないのですが','時間割表示画面では、表示される課題数は１つの科目につき最大2つまでです。表示された課題を完了済みにすると、未完了の課題が新たに表示されます。あるいは、「情報を更新」ボタンを押すと解決する場合もあります。') }}
        {{ faq('表示される課題はどのようなものですか','PandAshはログイン時や、情報を更新ボタンを押した際にPandAと連携をとっています。あなたがPandA上で登録した科目から出された課題が表示されます') }}
        {{
        faq('課題を「完了済」にするためにはどうすればよいですか','課題を「完了済」にする機能はPC・タブレット版のみに実装されています。ページ右部の「ここに課題をドラッグ&ドロップして完了済みにする」に、完了済にしたい課題名の書かれた文字をドラッグ＆ドロップしてください。ドラッグ＆ドロップ下の「更新」も忘れずに押すようお願いいたします。')
        }}
        {{ faq('PandAで提出した課題はPandAshで自動的に「完了済」になりますか','なりません。未提出課題を「完了済」にするためにはPandAsh上で手動で操作する必要があります。') }}
        {{
        faq('課題を「完了済」にするための項目が表示されていないのですが','課題を「完了済」にする機能はPC・タブレット版のみに実装されています。スマホで課題を「完了済」にすることはできません。PCまたはタブレットでアクセスしていて表示されていない場合、ウィンドウを大きくする、横向き表示に変えるなどして、表示領域の横幅を大きくしてください。')
        }}
        {{ faq('完了済に登録していない課題が表から消えているのですが','右上のメニューから提出期限切れになった課題を表示しない設定にしていないか確認してください。もし、絞り込みも行っていないのに今まであった課題がなくなった場合は、右上のメニューのお問い合わせから連絡をお願いいたします。') }}
        {{ faq('完了済みに登録した課題を未完了に戻すことはできますか','現在、一度完了済みにした課題は未完了に戻すことができません') }}
    </div>
</section>