<div class="container mt-2">
    <h1 class="mb-5">表示科目</h1>
    <section class="mb-4">
        <h3 class="pb-3">・表示科目の更新</h3>
        <div class="container">
            <div class="row">
                <div>最終更新: {{last_update_subject}}</div>
                <button class="btn btn-secondary mx-auto" onclick="location.href='/update_subject'">更新する</button>
            </div>
        </div>
    <!-- </section>
    <section>
        <h3 class="pb-3">・表示する科目の選択</h3>
        <div class="container border-left">
            <ul>
                <li class="list-unstyled">
                    <div class="d-inline-flex">
                        <div class="form-check">
                            <input id="check01" type="checkbox">
                            <label class="ml-1" for="check01">授業１</label>
                        </div>
                    </div>
                </li>
                <li class="list-unstyled">
                    <div class="d-inline-flex">
                        <div class="form-check">
                            <input id="check02" type="checkbox">
                            <label class="ml-1" for="check02">授業２</label>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section> -->
    <section>
        <h3>
            <input type="checkbox" id="show_already_due_check" {% if show_already_due == 1 %}checked{% endif %}>締切を過ぎた課題を表示する
        </h3>
    </section>
</div>
<div class="row">
    <button class="btn btn-secondary mx-auto" id="apply_btn">適用する</button>
</div>

<section>
    <h3 id="apply_msg" style="display: none;">
        適用しました。
    </h3>
    <h3 id="cancel_msg" style="display: none;">
        適用できませんでした。
    </h3>
</section>
</div>