@media (min-width: 768px) {

body {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
}

#example-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10vw;
    z-index: 1;
    background-color: #f6f6f6;
    font-size: small;
 }

#section-outline{
    height:50px;
}

#section-tasklist{
    height:50px;
}

#section-overview{
    height:50px;  
}

#section-resdownload{
    height:50px;    
}

#section-iCal{
    height:50px;    
}

#section-other{
    height:50px;    
}

.tutrialtext{
    height:250px;
}

.faqboard{
    z-index: 1;
    padding-bottom: 50px;
}

#example-main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top:20;
    padding-left: 15vw;
    padding-right: 3vw;
    overflow-y: scroll;
}

}


@media  (max-width:768px){
#example-main {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    padding-top:20;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow-y: scroll;
    font-size:small;
}

.tutrialtext{
    padding-bottom: 20px;
}

h2{
    font-size: x-large;
    font-weight: bolder;
}

.faqboard{
    z-index: 1;
    padding-bottom: 50px;
}
}