html{
    font-size: small;
}

#loginbar{
    right: 20;
}

#sitename{
    padding-top:8;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 160;
    width:98%;
}

footer {
    margin-top: auto;
}
