html{
    font-size: small;
}

#loginbar{
    right: 20;
}

#menubar{
    max-width: 100%;
}


#sitename{
    padding-top:8;
}

#faqque{
    background-color: silver;
    color: black;
}

.faqboard{
    padding-bottom: 20px;
}

#update_schedule{
    min-height: 100px;
}
#updatelog{
    min-height: 100px;
}

@media screen and (min-width:760px){
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 160;
    width:100vw;
}
}
@media screen and (max-width:760px){
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 200;
    width:100vw;
}
}

nav{
    width:100vw;
    margin-left: 0;
}

footer {
    margin-top: auto;
    width: 100%;
}

#footercont{
    background-color: silver;
}

@media screen and (min-width: 700px) {
/* 480pxまでの幅の場合に適応される */
#kyoudailogo{
    width:250;
    height:125;
    margin-left: calc(50vw - 310px);
    margin-right: 30;
}

#KIMClogo{
    width:337;
    height:125;
    margin-right: calc(50vw - 310px);
}

.cardbody{
    font-size: medium;
}
}

@media screen and (max-width: 700px) {
/* 320pxまでの幅の場合に適応される */
#kyoudailogo{
    width:30vw;
    height:15vw;
    margin-left: 15vw;
}

#KIMClogo{
    width:40vw;
    height:15vw;
    margin-right: 15vw;
}
}
