html{
    font-size: medium;
}

.card-header{
    background-color: black;
    color:white;
}

.card{
    width:80%;
    left:10%;
    right:10%;
    top:10vh;
}

.card-footer{
    font-size: smaller;
}

#logi{
    margin-top: auto;
}


