
#menubar{
    color: white;
}

#inquerys{
    height: 100vh;
    border-right: 1px solid #ccc;
    overflow-y: auto;
    padding-bottom:300px;
}

#inquery_table{
    font-size:small;
}

#inquery_title{
     border-bottom: 1px solid #ccc;
}

#inquery_content{
    min-height: 400px;
}

#reply_form{
    height:100vh;
    overflow-y: auto;
    padding-bottom:300px
}

#reply_content{
    border-top: 1px solid #ccc;
}

#reply_textarea{
    min-height:150px;
}