/*全ページ共通部分*/
#siteface{
  height: 50;
  width: 50;
}

#SiteNamelabel{
    padding-top: 13;
}

#help_button{
    color:skyblue;
}

html{
  font-size: x-small;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
    margin-top: auto;
    max-width: 100%;
}

#footercont{
    background-color: silver;
}

#ContactUs_link{
    color:silver;
    text-decoration: none;
}

@media screen and (min-width: 700px) {
/* 480pxまでの幅の場合に適応される */
#kyoudailogo{
    width:250;
    height:125;
    margin-left: calc(50vw - 310px);
    margin-right: 30;
}

#KIMClogo{
    width:337;
    height:125;
    margin-right: calc(50vw - 310px);
}
}

@media screen and (max-width: 700px) {
/* 320pxまでの幅の場合に適応される */
#kyoudailogo{
    width:30vw;
    height:15vw;
    margin-left: 15vw;
}

#KIMClogo{
    width:40vw;
    height:15vw;
    margin-right: 15vw;
}
}

#menu_dropdown_list{
    background-color: #333333;
}

.menu_link{
    color:white;
    background-color:#333333;
    border-bottom: white;
}




/*時間割表示ページ*/
.table-responsive{
  display: flex;
  flex-direction: column;  
  left:0;
  pointer-events: all;
}

th,td{
  font-size: small;
}

body{

}

#overviewtable > thead > tr {
    min-height:40px;
    height: fit-content;
}

#overviewtable > tbody > tr {
    min-height:60px;
    height: fit-content;
}

#ScrollSearchbar{
  padding-top:5;
  padding-bottom:0px;
  font-size:smaller;
  background-color:silver;
  margin-bottom:12;
}

#searchlabel{

}

#select0a > option{
  font-size: xx-small;
} 

#timesearchbutton{
  font-size: xx-small;
}

.modal-dialog-fluid {
  max-width: inherit;
  width: 95%;
  margin-left: 15px;
  font-size: xx-small;
}

/*一覧表示ページ*/
.taskcard > a{
    color: black;
}

.navbtns{
    margin-left: 5px;
}

#overviewtable{
    font-size: 1vw;
    overflow-x: auto;
}

.elsesbjcard{
    font-size: x-small;
}

.nonetype{
    background-color: #f5f5f5;
}
  
/*授業資料ページ*/
label > .undownloaded{
    color: skyblue;
}

label > .downloaded{
    color: orchid;
}

#resources_searchBox{
    background-color: silver;
}


/*課題の色*/

.one_sec{
    background-color: #ffdcdd;
}
.one_min{
    background-color: #ffdcdd;
}
.one_hour{
    background-color: #ffdcdd;
}
.one_day{
    background-color: #ffdcdd;
}
.one_week{
    background-color: #ffdcbc;
}
.one_month{
    background-color: #ffffbb;
}
.one_year{
    background-color: #ffffbb;
}
  
.finished{
    background-color: white;
}

/* div#loading {
  width: 35px;
  height: 35px;
  display: none;
  background: url(/static/loadingimage.gif) no-repeat;
  cursor: wait;
} */

.fa-exclamation-circle{
    color:deeppink;
}

/*オプション*/
.option-content{
    background-color: whitesmoke;
}

.optiontablink{
    color:black;
    background-color:gainsboro;
}
#message_container{
    min-height:200px; 
    background-color:rgb(236, 236, 236);
}