/*全ページ共通部分*/
#siteface{
  height: 50;
  width: 50;
}

#SiteNamelabel{
    padding-top: 13;
}

#help_button{
    color:skyblue;
}

html{
  font-size: x-small;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top:200px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
    margin-top: auto;
    width: 100%;
}

#footercont{
    background-color: silver;
}

@media screen and (min-width: 700px) {
/* 480pxまでの幅の場合に適応される */
#kyoudailogo{
    width:250;
    height:125;
    margin-left: calc(50vw - 310px);
    margin-right: 30;
}

#KIMClogo{
    width:337;
    height:125;
    margin-right: calc(50vw - 310px);
}
}

@media screen and (max-width: 700px) {
/* 320pxまでの幅の場合に適応される */
#kyoudailogo{
    width:30vw;
    height:15vw;
    margin-left: 15vw;
}

#KIMClogo{
    width:40vw;
    height:15vw;
    margin-right: 15vw;
}
}





/*時間割表示ページ*/
.table-responsive{
  display: flex;
  flex-direction: column;  
  left:0;
  width:98vw;
  margin-left: 1vw;
  margin-right: 1vw;
  pointer-events: all;
}

th,td{
  font-size: small;
}

body{
  padding-top: 140px;
}

#overviewtable > thead > tr {
    height:60px;
}

#overviewtable > tbody > tr {
    height:60px;
}

#ScrollSearchbar{
  padding-top:5;
  padding-bottom:0px;
  font-size:smaller;
  background-color:silver;
  margin-bottom:12;
}

#searchlabel{
  font-size:small;
  padding-top:0;
  padding-right:20;
}

#select1a{
  font-size:x-small;
}

#timesearchbutton{
  margin-left:30;
  margin-top:30;
  margin-bottom: 20;
}

.modal-dialog-fluid {
  max-width: inherit;
  width: 95%;
  margin-left: 15px;
  font-size: xx-small;
}

/*一覧表示ページ*/
.taskcard > a{
    color: black;
}

.navbtns{
    margin-left: 5px;
}

#overviewtable{
    font-size: 1vw;
    overflow-x: auto;
}

.elsesbjcard{
    font-size: x-small;
}

