/*全ページ共通部分*/
html{
    font-size: smaller;
}

#siteface{
    height:60;
    width:60;
    margin-left: 10;
}

#SiteNamelabel{
    padding-top: 13;
}

#help_button{
    color:skyblue;
}

#help_button:hover{
    color:steelblue;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.table-responsive{ 
    pointer-events: all;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:100%;
}

.container {
    max-width: 2000px;
}

footer {
    margin-top: auto;
    width:100%;
}

#footercont{
    background-color: silver;
}



#ContactUs_link{
    color:silver;
    text-decoration: none;
}


#ContactUs_link:hover{
    color:gray;
    text-decoration: none;
}

#menu_dropdown_list{
    background-color: #333333;
}

.menu_link{
    color:white;
    background-color:#333333;
    border-bottom: white;
}


@media screen and (min-width: 700px) {
/* 480pxまでの幅の場合に適応される */
/* #kyoudailogo{
    width:250;
    height:125;
    margin-left: calc(10vw - 340px);
    margin-right: 30;
}

#KIMClogo{
    width:337;
    height:125;
    margin-right: calc(10vw - 340px);
} */
}

@media screen and (max-width: 700px) {
/* 320pxまでの幅の場合に適応される */
#kyoudailogo{
    width:30vw;
    height:15vw;
    margin-left: 15vw;
}

#KIMClogo{
    width:40vw;
    height:15vw;
    margin-right: 15vw;
}
}

.navbar-nav{
   display:inline-flex;
    flex-direction: row;
}

/*一覧表示ページ*/
#ScrollSearchbar{
   background-color:silver;
   height: fit-content;
}

#searchlabel{
    font-size:14;
    padding-top:8;
}

#select1a,
#select2a,
#select3a{
    font-size:x-small;
}

.navbtns{
    margin-left: 5px;
}


.modal-dialog-fluid {
    max-width: inherit;
    width: 98%;
    margin-left: 15px;
}



/*時間割表示ページ*/
#dastshoot{
    background-color:transparent;
    width:200px;
    height: 400px;
    font-size: x-small;
    position:sticky;
    top:150px;
    overflow-y: hidden;
}


#finished_taskslist{
    overflow-y:scroll;
    overflow-x: visible;
    max-height: 300px;
}

.finished-list-item{
    font-size: xx-small;
    padding:none;
}

.taskcard > a{
    color: black;
}

#overviewtable{
    font-size: smaller;
    overflow: visible;
}

#overviewtable > thead > tr {
    height:fit-content;
    min-height: 50px;
}

#overviewtable > tbody > tr {
    height:fit-content;
    min-height: 100px;
}

.striped_gray{
    background-color: #f1f1f1;
}

.elsesbjcard{
    font-size: smaller;
    height: 150px;
}

/*授業資料ページ*/
#resourcestable{
    font-size: small;
}

#resources_searchBox{
    top:130px; 
    position: sticky;
    background-color: silver;
    width:min-content;
}


/*資料ダウンロードページ*/
label >.undownloaded{
    color: deepskyblue;
}

label >.downloaded{
    color: orchid;
}


#ResourcesScrolls{
    top:200px;
    position:sticky;
}

.nonetype{
    background-color: #f5f5f5;
}
 

/*オプション*/
.option-content{
    background-color: whitesmoke;
}

.optiontablink{
    color:black;
    background-color:gainsboro;
}

/*課題の色*/
.one_sec{
    background-color: rgb(255, 120, 120);
}
.one_min{
    background-color: rgb(255, 120, 120);
}
.one_hour{
    background-color: rgb(255, 120, 120);
}
.one_day{
    background-color: rgb(255, 120, 120);
}
.two_day {
    background-color: rgb(255, 140, 140);
}
.three_day {
    background-color: rgb(255, 160, 160);
}
.four_day {
    background-color: rgb(255, 180, 180);
}
.five_day {
    background-color: rgb(255, 200, 200);
}
.six_day{
    background-color: rgb(255, 220, 220);
}
.one_week{
    background-color: rgb(255, 220, 188);
}
.one_month{
    background-color: #ffffbb;
}
.one_year{
    background-color: #ffffbb;
}
  
.finished{
    background-color: white;
}



.fa-exclamation-circle{
    color:deeppink;
}

#message_container{
    min-height:200px; 
    background-color:rgb(236, 236, 236);
}

/* お知らせモーダル */
#modal_announcement_title{
    color:black
}
#modal_announcement_subject{
    color:black
}
#modal_announcement_publish_date{
    color:black
}
#modal_announcement_html_file{
    background-color: #f5f5f5;
    min-height: 200px;
}