<div id="section-resdownload">
    <div class="row align-items-center">
        <h2>・授業資料ダウンロード</h2>
        <b>　(PCのみ)</b>
    </div>
</div>
<div class="tutrialtext">
    <p>
        　PandA上にアップロードされた授業資料をダウンロードすることができます。
    </p>
    <p>
        　メニューバーの「授業資料」ボタンを押してください。授業資料が授業ごとに表示されます。ページ左部のボックスからしぼりこみ検索することも可能です
    </p>
    <p>
        　授業資料一覧の中から、必要な資料をクリックしてください。ダウンロードが始まります。
    </p>
    <p>
        なお、青い文字で表示された授業名をクリックすると、<strong>授業ごとの個別ページ</strong>に飛びます。ここで授業ごとに資料をダウンロードできます。
    </p>
</div>