<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PandAsh</title>
  <!-- BootstrapのCSS読み込み -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <!-- jQuery読み込み -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <!-- BootstrapのJS読み込み -->
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='images/font/css/open-iconic-bootstrap.css') }}">
  <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/originalcss_forlg.css') }}" type="text/css"
    media="screen and (min-width:768px)" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/originalcss_formd.css') }}" type="text/css"
    media="screen and (max-width:768px)" />
</head>

{#
<div class="modal fade" id="modal_timeboard_select" tabindex="-1" role="dialog" aria-labelledby="label1"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="label1">科目を選択してください</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="table-responsive table-considered  col-12">
              <table class="table table-sm modaltable">
                <thead>
                  <tr id="modaltable" class="d-flex">
                    <th class="col-2"></th>
                    <th class="col-2">月</th>
                    <th class="col-2">火</th>
                    <th class="col-2">水</th>
                    <th class="col-2">木</th>
                    <th class="col-2">金</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="d-flex">
                    <td class="col-2">1</td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.mon1.searchURL}}">{{data.mon1.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.tue1.searchURL}}">{{data.tue1.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.wed1.searchURL}}">{{data.wed1.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.thu1.searchURL}}">{{data.thu1.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.fri1.searchURL}}">{{data.fri1.shortname}}</a>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-2">2</td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.mon2.searchURL}}">{{data.mon2.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.tue2.searchURL}}">{{data.tue2.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.wed2.searchURL}}">{{data.wed2.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.thu2.searchURL}}">{{data.thu2.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.fri2.searchURL}}">{{data.fri2.shortname}}</a>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <td class="col-2">3</td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.mon3.searchURL}}">{{data.mon3.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.tue3.searchURL}}">{{data.tue3.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.wed3.searchURL}}">{{data.wed3.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.thu3.searchURL}}">{{data.thu3.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.fri3.searchURL}}">{{data.fri3.shortname}}</a>
                    </td>
                  </tr>
                    <tr class="d-flex">
                    <td class="col-2">4</td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.mon4.searchURL}}">{{data.mon4.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.tue4.searchURL}}">{{data.tue4.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.wed4.searchURL}}">{{data.wed4.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.thu4.searchURL}}">{{data.thu4.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.fri4.searchURL}}">{{data.fri4.shortname}}</a>
                    </td>
                  </tr>
                    <tr class="d-flex">
                    <td class="col-2">5</td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.mon5.searchURL}}">{{data.mon5.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.tue5.searchURL}}">{{data.tue5.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.wed5.searchURL}}">{{data.wed5.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.thu5.searchURL}}">{{data.thu5.shortname}}</a>
                    </td>
                    <td class="col-2"><a class="btn btn-link" href="{{data.fri5.searchURL}}">{{data.fri5.shortname}}</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">とじる</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_announcement" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal_announcement_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="word-break: break-all;">
        <div class="container-fluid">
          <div class="row">
            <ul class="col-12" style="list-style-type: none">
              <li id="modal_announcement_subject"></li>
              <li id="modal_announcement_publish_date"></li>
            </ul>
            <div class="col-12" id="modal_announcement_html_file">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer mr-auto">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">とじる</button>
        <div class="d-none d-md-block mr-auto"><small>ESCキーを押しても閉じられます</small></div>
      </div>
    </div>
  </div>
</div>

#}
<body>
<div class="sticky-top d-none" id="now_loading" style="background-color:rgba(255, 230, 0, 0.603)">
<div class="row">
      <div class="mx-auto">読み込み中...</div>
    </div>
  </div>
  <header>
    <!-- ロゴとサイト名-->
    <div class="logos">
      <div class="container-fluid">
        <div class="row">
          <nav class="navbar bg-light" id="logonav" style="width:100vw">
            <a href="/tasklist" class="navbar-brand">
              <img src="{{ url_for('static', filename='images/PandAsh_logo.png') }}" alt="ロゴ" height="50">
            </a>
            <a class="btn btn-dark" href="/_logout" data-toggle="tooltip" title="ログアウトします"><small>ログアウト</small></a>
          </nav>
        </div>
      </div>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container" id="menubar">
          <a class="navbar-brand " href="/"></a>
          <ul class="navbar-nav mr-auto toggle_lefts" style="display: flex; flex-direction: row;">
            <li class="nav-item">
              <a id="homebutton" href="/home_afterlogin" class="fas fa-home fa-2x my-1 mr-5" style="color:gray" aria-hidden="true"></a>
            </li>
            <li class="nav-item mr-1">
              <a class="btn btn-info navbtns  text-nowrap
                          {% if '/tasklist' in request.path or '/overview' in request.path  %}
                          active
                          {% endif %}
                          " href="/tasklist" role="button">

                課題一覧</a>
            <li class="nav-item navbtns">
              <a class="btn btn-info navbtns text-nowrap
                          {% if '/resourcelist' in request.path  %}
                          active
                          {% endif %}
                          " href="/resourcelist" role="button">授業資料</a>
            </li>
            <li class="nav-item navbtns">
              <a class="btn btn-info navbtns text-nowrap
                                      {% if '/announcement' in request.path  %}
                                      active
                                      {% endif %}
                                      " href="/announcement" role="button">お知らせ</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="btn nav-item ml-auto mr-3 my-auto">
              <a id="help_button" role="button" {% if '/tasklist' in request.path %}
                onclick="window.open('/help/tasklist', '', 'width=800,height=500'); return false;" {% elif '/overview'
                in request.path %} onclick="window.open('/help/overview', '', 'width=800,height=500'); return false;" {%
                elif '/resourcelist' in request.path %}
                onclick="window.open('/help/resdownload', '', 'width=800,height=500'); return false;" {% elif '/chat' in
                request.path %} onclick="window.open('/help/chatroom', '', 'width=800,height=500'); return false;" {%
                else %} class="d-none" {% endif %} role="button" data-toggle="tooltip" title="ヘルプ">
                <small>
                  <i class="fas fa-2x fa-question-circle"></i>
                </small>
              </a>
            </li>
            
          </ul>

          
        </div>
      </nav>
    </div>
  </header>

  <div id="wrapper" class="mt-5">
    <main id="contents">
      <div id="bodycontent">
        {% block bodycontent %}
        Replace this
        {% endblock %}
      </div>
    </main>
  </div>

</body>

<footer>
  <div id="footercont" class="container-fluid">
    <div class="row">
      <div class="ml-auto mr-3">
        <small>Copyright 2020 Institute for Information Management and Communication. All rights
          reserved.</small><br>
        <small>PandAsh</small>
      </div>
    </div>
  </div>
</footer>