<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandAsh</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
</head>

<body>
    <div class="fixed-top logos">
        <nav class="navbar navbar-light bg-light" id="logonav">
            <div class="row">
                <a href="/" class=navbar-brand>
                    <img id="siteface" src="{{ url_for('static', filename='images/headerlogo.jpg') }}" alt="ロゴ"
                        width="60px" height="60px">
                </a>
                <h1 id="sitename">PandAsh</h1>
            </div>
        </nav>
        <!--メニュー-->
        <nav class="navbar navbar-expand md_fixed navbar-dark bg-dark">
            <div class="container" id="menubar">
                <a class="navbar-brand" href="/"></a>
                <button id="logotoggle" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown2" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown2">
                    <ul class="navbar-nav mr-auto toggle_lefts">　
                        <li class="nav-item">
                            <a class="nav-link" href="/">ホーム</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/faq">FAQ</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto pr-3 toggle_rights">
                        <li class="nav-item">
                            <a class="btn btn-secondary mx-auto" href="/login" role="button">ログイン</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="
        {% if '/_help' in request.path  %}
            d-none
        {% else %}
            d-block d-md-none
        {% endif %}
        ">
            {% include "home_pagetransition.htm" %}
        </div>
    </div>
    <div class="col-12">
        {% block homebodycontent %}
        Replace This
        {% endblock %}
    </div>



    <footer>
        <div id="footercont" class="container-fluid">
            <div class="row">
                <a href="https://www.kyoto-u.ac.jp/ja"><img id="kyoudailogo"
                        src="https://panda.ecs.kyoto-u.ac.jp/library/image/footer-1.png"></a>
                <a href="http://www.iimc.kyoto-u.ac.jp/ja/"><img id="KIMClogo"
                        src="https://panda.ecs.kyoto-u.ac.jp/library/image/footer-3.png"></a>
            </div>
            <div class="mx-auto" style="width: fit-content;">
                <small>Copyright 2020 Institute for Information Management and Communication. All rights
                    reserved.</small><br>
                <small>PandAsh</small>
            </div>
            <div class="row ml-auto mr-1" style="width: fit-content;">
                <small>サーバーシステム時間：</small>
                <small>
                    <span id="view_clock"></span>

                    <script type="text/javascript">
                        timerID = setInterval('clock()', 500); //0.5秒毎にclock()を実行

                        function clock() {
                            document.getElementById("view_clock").innerHTML = getNow();
                        }

                        function getNow() {
                            var now = new Date();
                            var year = now.getFullYear();
                            var mon = now.getMonth(); //１を足すこと
                            var day = now.getDate();
                            var hour = now.getHours();
                            var min = now.getMinutes();
                            var sec = now.getSeconds();
                            var you = now.getDay();

                            //曜日の選択肢
                            var youbi = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
                            //月名の選択肢
                            var month = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");

                            //出力用
                            var s = youbi[you] + ', ' + day + ' ' + month[mon] + ' ' + year + ' ' + hour + ':' + min + ':' + sec + ' JST';
                            return s;
                        }
                    </script>
                </small>
            </div>
        </div>
    </footer>
</body>



</html>