<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandAsh</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
</head>

<body>
    <div class="fixed-top logos">
        <nav class="navbar navbar-light bg-light" id="logonav">
            <div class="row">
                <a href="#" class=navbar-brand>
                    <img id="siteface" src="{{ url_for('static', filename='images/headerlogo.jpg') }}" alt="ロゴ"
                        width="60px" height="60px">
                </a>
                <h1 id="sitename">PandAsh</h1>
            </div>
        </nav>
        <!--メニュー-->
        <nav class="navbar navbar-expand md_fixed navbar-dark bg-dark">
            <div class="container" id="menubar">
                <a class="navbar-brand" href="/"></a>
                <button id="logotoggle" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown2" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown2">
                    <ul class="navbar-nav mr-auto toggle_lefts">　
                        <li class="nav-item">
                            <a class="nav-link" href="#">ホーム</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">問い合わせホーム</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav toggle_rights">
                        <li class="nav-item">
                            <a class="btn btn-secondary" href="#" role="button">ログイン</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-12">
        <h1>Welcome to PandAsh!</h1><br>
        <h6>PandAsh is a service provided by Institution for Information Management in Kyoto University. You can
            overview
            your
            assignments.</h6><br>
        <h6>More home contents will be placed below.</h6>
    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>京都大学 KYOTO UNIVERSITY 京都大学情報環境機構</h2>
                </div>
            </div>
        </div>
    </footer>
</body>



</html>