<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandAsh</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>

<body>
    <div class="logos">
        <nav class="navbar navbar-light bg-light" id="logonav">
            <div class="row">
                <a href="/welcome" class=navbar-brand>
                    <img id="siteface" src="{{ url_for('static', filename='images/PandAsh_logo.png') }}" alt="ロゴ"
                        height="50">
                </a>
            </div>
        </nav>
        <!--メニュー-->
        <nav class="navbar navbar-expand md_fixed navbar-dark bg-dark">
            <div class="container" id="menubar">
                <a class="navbar-brand" href="/welcome"></a>
                <button id="logotoggle" class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarNavDropdown2" aria-controls="navbarNavDropdown2" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown2">
                    <ul class="navbar-nav mr-auto toggle_lefts">　
                        <li class="nav-item">
                            <a class="nav-link" href="/welcome">ホーム</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/faq">FAQ</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto pr-3 toggle_rights">
                        <li class="nav-item">
                            <a class="btn btn-secondary mx-auto" href="/login" role="button">ログイン</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="
        {% if '/_help' in request.path  %}
            d-none
        {% else %}
            d-block d-md-none
        {% endif %}
        ">
            {% include "home_pagetransition.htm" %}
        </div>
    </div>
    <div class="col-12 pt-5">
        {% block homebodycontent %}
        Replace This
        {% endblock %}
    </div>



    <footer>
        <div id="footercont" class="container-fluid">
            <div class="row">
                <div class="ml-auto mr-5">
                    <small>Copyright 2020 Institute for Information Management and Communication. All rights
                        reserved.</small><br>
                    <small>PandAsh</small>
                </div>
            </div>
        </div>
    </footer>
</body>



</html>