{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-8" style="min-height: 100vh;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <h1 class="mb-5">お知らせ一覧</h1>
                    </div>
                    <div class="col-4">
                        <a href="/announcement/list"><i class="fas fa-2x fa-list mr-3" style="color:gray;"></i></a>
                        <i class="fas fa-2x fa-th ml-3" style="color:black;"></i>
                    </div>
                </div>
            </div>
            
            <table class="table table-bordered table-striped">
                <tr>
                    <td class="col-2" style="background-color:white;"></td>
                    <td class="col-2" style="background-color:gainsboro;">月</td>
                    <td class="col-2" style="background-color:gainsboro;">火</td>
                    <td class="col-2" style="background-color:gainsboro;">水</td>
                    <td class="col-2" style="background-color:gainsboro;">木</td>
                    <td class="col-2" style="background-color:gainsboro;">金</td>
                </tr>
                <tr>
                    <td class="col-2">１</td>
                    <td class="col-2 tcell_announce_overview" id="mon1" style="color:dimgray">{{data.mon1.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="tue1" style="color:dimgray">{{data.tue1.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="wed1" style="color:dimgray">{{data.wed1.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="thu1" style="color:dimgray">{{data.thu1.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="fri1" style="color:dimgray">{{data.fri1.shortname}}</td>
                <tr>
                    <td class="col-2">２</td>
                    <td class="col-2 tcell_announce_overview" id="mon2" style="color:dimgray">{{data.mon2.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="tue2" style="color:dimgray">{{data.tue2.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="wed2" style="color:dimgray">{{data.wed2.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="thu2" style="color:dimgray">{{data.thu2.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="fri2" style="color:dimgray">{{data.fri2.shortname}}</td>
                </tr>
                <tr>
                    <td class="col-2">３</td>
                    <td class="col-2 tcell_announce_overview" id="mon3" style="color:dimgray">{{data.mon3.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="tue3" style="color:dimgray">{{data.tue3.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="wed3" style="color:dimgray">{{data.wed3.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="thu3" style="color:dimgray">{{data.thu3.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="fri3" style="color:dimgray">{{data.fri3.shortname}}</td>
                </tr>
                <tr>
                    <td class="col-2">４</td>
                    <td class="col-2 tcell_announce_overview" id="mon4" style="color:dimgray">{{data.mon4.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="tue4" style="color:dimgray">{{data.tue4.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="wed4" style="color:dimgray">{{data.wed4.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="thu4" style="color:dimgray">{{data.thu4.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="fri4" style="color:dimgray">{{data.fri4.shortname}}</td>
                </tr>
                <tr>
                    <td class="col-2">５</td>
                    <td class="col-2 tcell_announce_overview" id="mon5" style="color:dimgray">{{data.mon5.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="tue5" style="color:dimgray">{{data.tue5.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="wed5" style="color:dimgray">{{data.wed5.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="thu5" style="color:dimgray">{{data.thu5.shortname}}</td>
                    <td class="col-2 tcell_announce_overview" id="fri5" style="color:dimgray">{{data.fri5.shortname}}</td>
                </tr>
            </table>
            
            <table class="table table-bordered table-striped">
                <tr>
                    <td class="col-2" style="background-color:white;"></td>
                    <td class="col-2 tcell_announce_overview" style="background-color:gainsboro;">月</td>
                    <td class="col-2" style="background-color:gainsboro;">火</td>
                    <td class="col-2 tcell_announce_overview" style="background-color:gainsboro;">水</td>
                    <td class="col-2" style="background-color:gainsboro;">木</td>
                    <td class="col-2" style="background-color:gainsboro;">金</td>
                </tr>
            </table>
            
        </div>
        <div class="col-sm-12 col-md-4" id="course_announcement">
            <div id="announcement_card" class="card text-white" style="min-height: 100vh; max-height: 100vh;">
                <div class="card-header" style="background-color:rgb(90, 98, 107)">
                    <div class="row">
                        <h2 class="ml-3 my-2">線形代数続論Aのお知らせ</h2>
                    </div>
                </div>
                <div id="card-body" class="card-body bg-secondary" style="overflow-x:auto; overflow-y:hidden">
                    <table class="table">
                        <tr class="text-white">
                            <th class="col-8">件名</th>
                            <th class="col-4">公開日時</th>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8" data-toggle="modal" data-target="#modal_announcement"><a href="#" style="color:inherit">お知らせ</a></td>
                            <td class="col-4">2021/9/15 13:16</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer" style="background-color:rgb(90, 98, 107)">
                    <div class="row">
                        <button id="button_openall" class="btn"
                            style="background-color:rgb(90, 98, 107); color:whitesmoke;"
                            onclick="button_OpenAll()">すべて開く</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 時間割テーブルの、マウスが乗ったときと離れたときの処理 -->
<script>
    var targets = document.getElementsByClassName("tcell_announce_overview");

    for (var i = 0; i < targets.length; i++) {
        targets[i].addEventListener("mouseover", function () {
            this.setAttribute("style", "background-color:gainsboro;")
        });

        targets[i].addEventListener("mouseleave", function () {
            this.setAttribute('style', "")
        });
    }
</script>
<!--お知らせカードのマウスが乗ったときと離れたときの処理-->
<script>
    var targets = document.getElementsByClassName("announcement_row");
    var links = document.getElementsByClassName("announcement_link");
    for (var i = 0; i < targets.length; i++) {
        targets[i].addEventListener("mouseover", function () {
            this.setAttribute("style", "color:black; background-color:whitesmoke;");
        });

        targets[i].addEventListener("mouseleave", function () {
            this.setAttribute("style", "color:white;");
        });
    }
    for (var i = 0; i < targets.length; i++) {
        targets[i].setAttribute("style", "color: white;");
    };
</script>
<!--すべて開くボタンの処理-->
<script>
    function button_OpenAll() {
        var card = document.getElementById("announcement_card");
        card.setAttribute("style", "");

        var card_body = document.getElementById("card-body");
        card_body.setAttribute("style", "overflow-x:auto;");

        var btn = document.getElementById("button_openall");
        btn.setAttribute("class", "d-none");
    }
</script>
<!--スマホ表示のときに時間割をタップするとお知らせカードまで遷移する処理-->
<script>
    var targets = document.getElementsByClassName("tcell_announce_overview");
    if(screen.width < 768){
        for (var i = 0; i < targets.length; i++) {
            targets[i].setAttribute("onclick", "window.location.href = '#announcement_card'")
        }
    }
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/announcement_overview.js') }}"></script>


<script type="text/javascript">
    var announcements = {{ announcements | tojson }};
</script>

{% endblock %}