{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-8">
                    <h1 class="mb-5">お知らせ一覧</h1>
                </div>
                <div class="col-4">
                    <i class="fas fa-2x fa-list mr-3" style="color:black;"></i>
                    <a href="/announcement/overview"><i class="fas fa-2x fa-th ml-3" style="color:gray;"></i></a>
                </div>
            </div>
        </div>
        {% set page = 1 %}
        {% set num = 40 %}
        {% set per_page = 10 %}
        <div class="col-sm-12 col-md-11 ml-md-3 ml-sm-1 mr-auto">
            {% if num % per_page != 0 %}
                {% set page_num = num // per_page + 1 %}
            {% else %}
                {% set page_num = num // per_page %}
            {% endif %}
            <form>
                <div class="form-group row">
                    <ul class="pagination nav nav-pills mb-3" id="pills-tab" role="tablist">
                        {% set ns = namespace(cnt=1) %}
                        {% for i in range(page_num) %}
                        <li class="page-item">
                            <a class="page-link nav-link" id="pills-page-{{ns.cnt}}-tab" data-toggle="pill" href="#pills-page-{{ns.cnt}}" role="tab"
                            aria-controls="pills-profile" aria-selected="false">{{ns.cnt}}</a>
                        </li>
                        {% set ns.cnt = ns.cnt + 1 %}
                        {% endfor %}
                    </ul>
                    
                </div>
            </form>
            <div class="tab-content" id="pills-tabContent">
                {% set list = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39] %}
                {% set ns = namespace(cnt=1) %}
                {% for i in range(page_num) %}
                <div class="tab-pane fade show" id="pills-page-{{ns.cnt}}" role="tabpanel"
                    aria-labelledby="pills-page-{{ns.cnt}}-tab">
                    <p>
                    {{ns.cnt}}ページ目のコンテンツ
                    {% if ns.cnt != page_num %}
                    ({{(ns.cnt-1)*per_page + 1}}-{{ns.cnt * per_page}}件)
                        {% for j in range(per_page) %}
                        {% set n = (ns.cnt-1)*per_page + j %}
                        {{list[n]}}
                        {% endfor %}
                    {% else %}
                    ({{(ns.cnt-1)*per_page + 1}}-{{num}}件)
                        {% for j in range(num-(ns.cnt-1)*(per_page)) %}
                        {% set n = (ns.cnt-1)*per_page + j %}
                        {{list[n]}}
                        {% endfor %}
                    {% endif %}
                    </p>

                </div>
                {% set ns.cnt = ns.cnt + 1 %}
                {% endfor %}
            </div>
            <table class="table tale-sm">
                <tr>
                    <th><a style="color:black">サイト</a></th>
                    <th>件名</th>
                    <th><a style="color:black">公開日時</a></th>
                </tr>
                {#
                {% for announcement in announcements %}
                <tr class="announcement_tr">
                    <td>{{announcement.subject}}</td>
                    <td>
                        <a href="/announcement/content/{{announcement.announcement_id}}" style="color:black">
                            {% if announcement.checked == False %}
                            <i class="fas fa-exclamation-circle"></i>
                            {% endif %} {{announcement.title}}
                        </a>
                    </td>
                    <td>{{announcement.publish_date}}</td>

                </tr>
                {% endfor %}
                #}
                
            </table>
        </div>

    </div>
    <script>
        var targets = document.getElementsByClassName("announcement_tr");

        for (var i = 0; i < targets.length; i++) {
            targets[i].addEventListener("mouseover", function () {
                this.setAttribute("style", "background-color:whitesmoke;")
            });

            targets[i].addEventListener("mouseleave", function () {
                this.setAttribute('style', "")
            });

        }
    </script>

    {% endblock %}