{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container container-fluid">
    <div class="row">
        <h1 class="col-12 mb-5">PandAに届いたお知らせ一覧</h1>
        <table class="table col-11 mx-auto">
            <tr>
                <th>件名</th>
                <th>保存者</th>
                <th>修正日時</th>
                <th>サイト</th>
                <th>開始日時</th>
                <th>終了日時</th>
            </tr>

            <tr class="announcement_tr">
                <td>
                    <a href="#" style="color:black">
                        <i class="fas fa-exclamation-circle"></i>６月２１日以降の授業について
                    </a>
                </td>
                <td>京大太郎</td>
                <td>2021/6/12 17:36</td>
                <td>OAテスト</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="announcement_tr">
                <td>
                    <a href="#" style="color:black">
                        <i class="fas fa-exclamation-circle"></i>６月２１日以降の授業について
                    </a>
                </td>
                <td>京大太郎</td>
                <td>2021/6/12 17:36</td>
                <td>OAテスト</td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>
</div>

{% endblock %}