{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container container-fluid">
    <div class="row">
        <div class="col-8" style="min-height: 100vh;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <h1 class="mb-5">お知らせ一覧</h1>
                    </div>
                    <div class="col-4">
                        <a href="/announcement"><i class="fas fa-2x fa-list mr-3" style="color:gray;"></i></a>
                        <i class="fas fa-2x fa-th ml-3" style="color:black;"></i>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <td class="col-2" style="background-color:white;"></td>
                    <td class="col-2" style="background-color:gainsboro;">月</td>
                    <td class="col-2" style="background-color:gainsboro;">火</td>
                    <td class="col-2" style="background-color:gainsboro;">水</td>
                    <td class="col-2" style="background-color:gainsboro;">木</td>
                    <td class="col-2" style="background-color:gainsboro;">金</td>
                </tr>
                <tr>
                    <td class="col-2">１</td>
                    <td class="col-2 tcell_annouce_overview" id="mon1"><a href="#" style="color:dimgray" class="element">月１</a></td>
                    <td class="col-2 tcell_annouce_overview" id="tue1"><a href="#" style="color:dimgray" class="element">火１</a></td>
                    <td class="col-2 tcell_annouce_overview" id="wed1"><a href="#" style="color:dimgray" class="element">水１</a></td>
                    <td class="col-2 tcell_annouce_overview" id="thu1"><a href="#" style="color:dimgray" class="element">木１</a></td>
                    <td class="col-2 tcell_annouce_overview" id="fri1"><a href="#" style="color:dimgray" class="element">金１</a></td>
                </tr>
                <tr>
                    <td class="col-2">２</td>
                    <td class="col-2 tcell_annouce_overview" id="mon2"><a href="#" style="color:dimgray" class="element">月２</a></td>
                    <td class="col-2 tcell_annouce_overview" id="tue2"><a href="#" style="color:dimgray" class="element">火２</a></td>
                    <td class="col-2 tcell_annouce_overview" id="wed2"><a href="#" style="color:dimgray" class="element">水２</a></td>
                    <td class="col-2 tcell_annouce_overview" id="thu2"><a href="#" style="color:dimgray" class="element">木２</a></td>
                    <td class="col-2 tcell_annouce_overview" id="fri2"><a href="#" style="color:dimgray" class="element">金２</a></td>
                </tr>
                <tr>
                    <td class="col-2">３</td>
                    <td class="col-2 tcell_annouce_overview" id="mon3"><a href="#" style="color:dimgray" class="element">月３</a></td>
                    <td class="col-2 tcell_annouce_overview" id="tue3"><a href="#" style="color:dimgray" class="element">火３</a></td>
                    <td class="col-2 tcell_annouce_overview" id="wed3"><a href="#" style="color:dimgray" class="element">水３</a></td>
                    <td class="col-2 tcell_annouce_overview" id="thu3"><a href="#" style="color:dimgray" class="element">木３</a></td>
                    <td class="col-2 tcell_annouce_overview" id="fri3"><a href="#" style="color:dimgray" class="element">金３</a></td>
                </tr>
                <tr>
                    <td class="col-2">４</td>
                    <td class="col-2 tcell_annouce_overview" id="mon4"><a href="#" style="color:dimgray" class="element">月４</a></td>
                    <td class="col-2 tcell_annouce_overview" id="tue4"><a href="#" style="color:dimgray" class="element">火４</a></td>
                    <td class="col-2 tcell_annouce_overview" id="wed4"><a href="#" style="color:dimgray" class="element">水４</a></td>
                    <td class="col-2 tcell_annouce_overview" id="thu4"><a href="#" style="color:dimgray" class="element">木４</a></td>
                    <td class="col-2 tcell_annouce_overview" id="fri4"><a href="#" style="color:dimgray" class="element">金４</a></td>
                </tr>
                <tr>
                    <td class="col-2">５</td>
                    <td class="col-2 tcell_annouce_overview" id="mon5"><a href="#" style="color:dimgray" class="element">月５</a></td>
                    <td class="col-2 tcell_annouce_overview" id="tue5"><a href="#" style="color:dimgray" class="element">火５</a></td>
                    <td class="col-2 tcell_annouce_overview" id="wed5"><a href="#" style="color:dimgray" class="element">水５</a></td>
                    <td class="col-2 tcell_annouce_overview" id="thu5"><a href="#" style="color:dimgray" class="element">木５</a></td>
                    <td class="col-2 tcell_annouce_overview" id="fri5"><a href="#" style="color:dimgray" class="element">金５</a></td>
                </tr>
            </table>
        </div>
        <div class="col-4" id="course_announcement">
            <div id="announcement_card" class="card text-white" style="min-height: 100vh; max-height: 100vh;">
                <div class="card-header" style="background-color:rgb(90, 98, 107)">
                    <div class="row">
                        <h2 class="ml-3 my-2">線形代数続論Aのお知らせ</h2>
                    </div>
                </div>
                <div id="card-body" class="card-body bg-secondary" style="overflow-x:auto; overflow-y:hidden">
                    <table class="table">
                        <tr class="text-white">
                            <th class="col-8">件名</th>
                            <th class="col-4">公開日時</th>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせ</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせ</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせ</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせ</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせ</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせ</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせA</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                        <tr class="announcement_row">
                            <td class="col-8"><a href="#" style="color:inherit">お知らせlast</a></td>
                            <td class="col-4">2021/8/1 19:00</td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer" style="background-color:rgb(90, 98, 107)">
                    <div class="row">
                        <button id="button_openall" class="btn"
                            style="background-color:rgb(90, 98, 107); color:whitesmoke;"
                            onclick="button_OpenAll()">すべて開く</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var targets = document.getElementsByClassName("tcell_annouce_overview");

    for (var i = 0; i < targets.length; i++) {
        targets[i].addEventListener("mouseover", function () {
            this.setAttribute("style", "background-color:gainsboro;")
        });

        targets[i].addEventListener("mouseleave", function () {
            this.setAttribute('style', "")
        });
    }
</script>
<script>
    var targets = document.getElementsByClassName("announcement_row");
    var links = document.getElementsByClassName("announcement_link");
    for (var i = 0; i < targets.length; i++) {
        targets[i].addEventListener("mouseover", function () {
            this.setAttribute("style", "color:black; background-color:whitesmoke;");
        });

        targets[i].addEventListener("mouseleave", function () {
            this.setAttribute("style", "color:white;");
        });
    }
    for (var i = 0; i < targets.length; i++) {
        targets[i].setAttribute("style", "color: white;");
    };
</script>
<script>
    function button_OpenAll() {
        var card = document.getElementById("announcement_card");
        card.setAttribute("style", "");

        var card_body = document.getElementById("card-body");
        card_body.setAttribute("style", "overflow-x:auto;");

        var btn = document.getElementById("button_openall");
        btn.setAttribute("class", "d-none");
    }
</script>
<script type="text/javascript" src="/static/js/overview.js"></script>
<script type="text/javascript">
    var announcements = {{ announcements | tojson }};
</script>
{% endblock %}