{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
        <div class="sle" style="height:500px; border:1px solid gainsboro">
            
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="row">
                    <label for="textarea1" class="col-12">送信メッセージ:</label>
                    <textarea id="textarea1" class="form-control col-12 ml-1"></textarea>
                    <button type="submit" class="btn btn-secondary ml-auto">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}