{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container-fluid">
    <div class="row">
        <h1 class="col-12">線形代数学のチャットルーム</h1>
        <div class="col-12">
        <div class="sle" style="height:500px; border:1px solid gainsboro; overflow-y: scroll;">
            <p class="comment">
                <div>
                　1. ID: qwerty　2021/5/31 23:55
                </div>
                <div>
                　コメント
                </div>
            </p>
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="row">
                    <label for="textarea1" class="col-12">送信メッセージ:</label>
                    <textarea id="textarea1" placeholder="送信するメッセージ" class="form-control col-12 ml-1"></textarea>
                    <button type="submit" class="btn btn-secondary ml-auto">送信</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}