{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container container-fluid">
    <div class="row">
        <h1 class="col-12 mb-5">チャットルーム</h1>
        <table class="table col-11 mx-auto">
            <tr>
                <th>科目名</th>
                <th>アクション</th>
                <th>最終更新</th>
            </tr>
            <tr>
                <td>線形代数学</td>
                <td><button class="btn btn-secondary">入室する</button></td>
                <td><i class="fas fa-exclamation-circle"></i>2021/06/03 17:00</td>
            </tr>
            <tr>
                <td>線形代数学</td>
                <td><button class="btn btn-secondary">入室する</button></td>
                <td>2021/06/03 17:00</td>
            </tr>
            <tr>
                <td>線形代数学</td>
                <td><button class="btn btn-secondary">入室する</button></td>
                <td>2021/06/03 17:00</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}