{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container-fluid">
    <div class="row">
        <h1 class="col-12">{{roomname}}のチャットルーム</h1>
        <div class="col-12">
        <div class="sle" style="height:500px; border:1px solid gainsboro; overflow-y: scroll;">
            {% for comment in comments %}
                <p class="comment">
                <div>
                    　{{comment.index}} ID: {{comment.userid}}　{{comment.update_time}}
                </div>
                <div>
                    　{{comment.content}}
                </div>
                </p>
            {% endfor %}
        </div>
        <div class="col-12">
            <div class="form-group">
                <div class="row">
                    <label for="textarea1" class="col-12">送信メッセージ:</label>
                    <textarea id="textarea1" placeholder="送信するメッセージ" class="form-control col-12 ml-1"></textarea>
                    <button type="submit" class="btn btn-secondary ml-auto">送信</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}