{% set qnum = namespace(cnt = 1) %}
{% macro faq(ques,ans) %}
<div class="card">
    <div class="card-header" id="header-4a">
        <button id="faqque" class="btn btn-link" type="button" data-toggle="collapse" data-target="#A{{ qnum.cnt }}"
            aria-expanded="true" aria-controls="A{{ qnum.cnt }}" style="background-color: #00000008;
    color: black; font-size: small;">
            <small>◯</small>
            {{ ques }}
        </button>
    </div>
    <div id="A{{ qnum.cnt }}" class="collapse" aria-labelledby="header-4a">
        <div class="card-body" style="font-size: small;">
            {{ ans }}
        </div>
    </div>
</div>
{% set qnum.cnt = qnum.cnt + 1 %}
{% endmacro %}
<section class="faqboard" id="faq-other">
    <i class="fas fa-chevron-circle-right">その他</i>
    <div class="accordion" id="que_acc3">
        {{ faq('iCalと共有とは何ですか','カレンダー共有機能です。メニューバー右に表示された「iCalと共有」ボタンを押すことで、.ics(または.csv)ファイルをダウンロードすることができます(PC,
        タブレットのみ)。.iCalカレンダーの使い方については各公式サポートを参照してください。') }}
        {{ faq('iCal ファイルの使い方がわからないのですが','.ics(または.csv) ファイルの使用方法は、 Apple公式サポートページを ご覧ください。') }}
        {{ faq('FAQ を見ても分からないことがあるのですが','申し訳ございません。現在、問い合わせは受け付けておりません。') }}
    </div>
</section>