{% set qnum = namespace(cnt = 1) %}
{% macro faq(ques,ans) %}
<div class="card">
    <div class="card-header" id="header-4a">
        <button id="faqque" class="btn btn-link collapsed faqque" type="button" data-toggle="collapse"
            data-target="#E{{ qnum.cnt }}" aria-expanded="true" aria-controls="E{{ qnum.cnt }}" style="background-color: #00000008;
    color: black; font-size: small;">
            <small>◯</small>
            {{ ques }}
        </button>
    </div>
    <div id="E{{ qnum.cnt }}" class="collapse" aria-labelledby="header-4a">
        <div class="card-body" style="font-size: small;">
            {{ ans }}
        </div>
    </div>
</div>
{% set qnum.cnt = qnum.cnt + 1 %}
{% endmacro %}
<section class="faqboard" id="faq-tasklist">
    <i class="fas fa-chevron-circle-right">課題の一覧表示について</i>
    <div class="accordion" id="que_acc2">
        {{ faq('表示される課題はどのようなものですか','PandAshはPandAと連携をとっています。あなたがPandA上で登録した科目から出された課題のうち、未提出のものを表示しています') }}
        {{
        faq('課題を「完了済」にするためにはどうすればよいですか','課題を「完了済」にする機能はPC・タブレット版のみに実装されています。ページ左部の「ここに課題をドラッグ&ドロップして完了済みにする」に、完了済にしたい課題名の書かれた文字をドラッグ＆ドロップしてください。')
        }}
        {{ faq('PandAで提出した課題はPandAshで自動的に「完了済」になりますか','なりません。未提出課題を「完了済」にするためにはPandAsh上で手動で操作する必要があります。') }}
        {{ faq('完了済に登録していない課題が表から消えているのですが','提出期限切れになった課題は自動的に削除されます') }}
        {{ faq('完了済みに登録した課題を未完了に戻すことはできますか','一度完了済みにした課題は未完了に戻すことができません') }}
    </div>
</section>