<!--ここにドラッグ＆ドロップ-->
<!-- See file tasklist.htm, line 7
    style="position: relative; z-index: -20; pointer-events: all;" -->
<!--
      row, container領域の再宣言によりnewtaskのdragが背面に回るため削除 
      <div class="container" id="dastshoot">
         <div class="row"> -->
<!--ここにドラッグ＆ドロップ-->
<form id="finish_form_no">
    <div class="row mx-auto">
        <i class="fas fa-6x fa-dumpster" style="color: black;"></i>
        <div class="my-auto mx-auto" style="font-size:x-large; color: coral;"><b>6</b></div>
    </div>
    <div>ここに課題をドラッグ＆ドロップする</div>
</form>
<h5 class="text-nowrap pt-3 border-top">・完了済みにした課題</h5>
<ul class="list-group" id="finished_taskslist">

</ul>

<button type="button" class="btn btn-success btn-block mx-auto mt-3" style="font-size: smaller;">確定する</button>
<!-- </div>
        </div> -->