<div class="container" id="dastshoot">
    <div class="row">
        <!--ここにドラッグ＆ドロップ-->
        <i class="fas fa-9x fa-dumpster mr-auto" style="color: black;"></i>
        <div class="my-auto mr-auto" style="font-size:x-large; color: coral;"><b>6</b></div>
        <div>ここに課題をドラッグ＆ドロップする</div>
        <h5 class="text-nowrap pt-3 border-top">・完了済みにする課題</h5>
        <ul class="list-group" id="finished_taskslist">
            <div class="mx-auto">
                <div class="row">
                    <li class="list-group-item finished-list-item">
                        [2020後期月3]線形代数学<br>
                        <b>課題No.6</b>
                    </li>
                    <button><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="mx-auto">
                <div class="row">
                    <li class="list-group-item finished-list-item">
                        [2020後期月3]線形代数学<br>
                        <b>課題No.6</b>
                    </li>
                    <button><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="mx-auto">
                <div class="row">
                    <li class="list-group-item finished-list-item">
                        [2020後期月3]線形代数学<br>
                        <b>課題No.6</b>
                    </li>
                    <button><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="mx-auto">
                <div class="row">
                    <li class="list-group-item finished-list-item">
                        [2020後期月3]線形代数学<br>
                        <b>課題No.6</b>
                    </li>
                    <button><i class="fas fa-times"></i></button>
                </div>
            </div>
            <div class="mx-auto">
                <div class="row">
                    <li class="list-group-item finished-list-item">
                        [2020後期月3]線形代数学<br>
                        <b>課題No.6</b>
                    </li>
                    <button><i class="fas fa-times"></i></button>
                </div>
            </div>
        </ul>
        <button type="button" class="btn btn-success btn-block mx-auto mt-3" style="font-size: smaller;">確定する</button>
    </div>

</div>