{% extends "_homebase.htm" %}
{% block homebodycontent %}

{% set qnum = namespace(cnt = 1) %}

<a class="my-5" href="#"><i class="far fa-question-circle">PandAshをはじめてお使いになる方はこちら</i></a>

<h1 class="mt-4 mb-3">FAQ</h1>

{% macro faq(ques,ans) %}
<div class="card">
    <div class="card-header" id="header-4a">
        <button id="faqque" class="btn btn-link" type="button" data-toggle="collapse" data-target="#Q{{ qnum.cnt }}"
            aria-expanded="true" aria-controls="Q{{ qnum.cnt }}" style="background-color: #00000008;
    color: black;">
            <small>Q{{ qnum.cnt }}</small>
            {{ ques }}
        </button>
    </div>
    <div id="Q{{ qnum.cnt }}" class="collapse" aria-labelledby="header-4a">
        <div class="card-body">
            {{ ans }}
        </div>
    </div>
</div>
{% set qnum.cnt = qnum.cnt + 1 %}
{% endmacro %}

<i class="fas fa-chevron-circle-right">PandAshについて</i>
<div class="accordion mb-3" id="que_acc1">
    {{ faq('PandAshは何ができますか', 'PandAshはPandAのダッシュボードです。未提出の課題を一覧で確認することができます。また、授業資料を一括でダウンロードできます。') }}
    {{ faq('使い方がわからないのですが','このページ上部のリンクからPandAshチュートリアルを参照してください') }}
    {{ faq('スマホ版だとメニューの項目が少ないのですが','授業資料のダウンロードと iCal ファイルのダウンロードは PC でのみ行うことができます') }}
</div>

<i class="fas fa-chevron-circle-right">課題の一覧表示について</i>
<div class="accordion mb-3" id="que_acc2">
    {{ faq('表示される課題はどのようなものですか','PandAshはPandAと連携をとっています。あなたがPandA上で登録した科目から出された課題のうち、未提出のものを表示しています') }}
    {{ faq('課題を「完了済」にするためにはどうすればよいですか','課題を「完了済」にする機能はPC・タブレット版のみに実装されています。ページ左部の「ここに課題をドラッグ&ドロップして完了済みにする」に、完了済にしたい課題名の書かれた文字をドラッグ＆ドロップしてください。') }}
    {{ faq('PandAで提出した課題はPandAshで自動的に「完了済」になりますか','なりません。未提出課題を「完了済」にするためにはPandAsh上で手動で操作する必要があります。') }}
    {{ faq('完了済に登録していない課題が表から消えているのですが','提出期限切れになった課題は自動的に削除されます') }}
    {{ faq('完了済みに登録した課題を未完了に戻すことはできますか','一度完了済みにした課題は未完了に戻すことができません') }}
</div>

<i class="fas fa-chevron-circle-right">課題の時間割表示について</i>
<div class="accordion mb-3" id="que_acc3">
    {{ faq('その他の科目とはなんですか','時間割に表示することができなかった科目です。たとえば１時限に２つの授業が重なっている場合、一方のみが時間割内に表示され、もう一方はその他の科目に表示されます。また、「教職課程オリエンテーション」などのページもその他の科目に表示されます。') }}
    {{ faq('全ての課題が表示されていないのですが','時間割表示画面では、表示される課題数は１つの科目につき最大2つまでです。表示された課題を完了済みにすると、未完了の課題が新たに表示されます') }}
    {{ faq('表示される課題はどのようなものですか','PandAshはPandAと連携をとっています。あなたがPandA上で登録した科目から出された課題のうち、未提出のものを表示しています') }}
    {{ faq('課題を「完了済」にするためにはどうすればよいですか','課題を「完了済」にする機能はPC・タブレット版のみに実装されています。ページ右部の「ここに課題をドラッグ&ドロップして完了済みにする」に、完了済にしたい課題名の書かれた文字をドラッグ＆ドロップしてください。') }}
    {{ faq('PandAで提出した課題はPandAshで自動的に「完了済」になりますか','なりません。未提出課題を「完了済」にするためにはPandAsh上で手動で操作する必要があります。') }}
    {{ faq('課題を「完了済」にするための項目が表示されていないのですが','課題を「完了済」にする機能はPC・タブレット版のみに実装されています。スマホで課題を「完了済」にすることはできません。PCまたはタブレットでアクセスしていて表示されていない場合、ウィンドウを大きくする、横向き表示に変えるなどして、表示領域の横幅を大きくしてください。') }}
    {{ faq('完了済に登録していない課題が表から消えているのですが','提出期限切れになった課題は自動的に削除されます') }}
    {{ faq('完了済みに登録した課題を未完了に戻すことはできますか','一度完了済みにした課題は未完了に戻すことができません') }}
</div>

<i class="fas fa-chevron-circle-right">授業資料のダウンロードについて</i>
<div class="accordion mb-3" id="que_acc3">
    {{ faq('灰色のチェックボックスが表示されているのですが、これは何ですか','その資料がダウンロード済みであることを示すマークです。ダウンロード済みの資料にチェックを入れることはできません。その資料をもう一度ダウンロードするには、資料名をクリックしてください') }}
    {{ faq('ダウンロード済み資料をもう一度ダウンロードしたいのですが、どうすればいいですか','ダウンロード済み資料をもう一度ダウンロードするには、資料名をクリックしてください') }}
    {{ faq('授業資料のダウンロードでは、フォルダ構造を保存しますか','しません。複数の資料をダウンロードした場合、それぞれがバラバラになってダウンロードされます') }}
</div>

<i class="fas fa-chevron-circle-right">その他</i>
<div class="accordion mb-5" id="que_acc3">
    {{ faq('iCalと共有とは何ですか','カレンダー共有機能です。メニューバー右に表示された「iCalと共有」ボタンを押すことで、.iCalファイルをダウンロードすることができます(PC,
    タブレットのみ)。.iCalカレンダーの使い方についてはApple公式サポートを参照してください。') }}
    {{ faq('iCal ファイルの使い方がわからないのですが','iCal ファイルの使用方法は、 Apple公式サポートページを ご覧ください。') }}
    {{ faq('FAQ を見ても分からないことがあるのですが','申し訳ございません。現在、問い合わせは受け付けておりません。') }}
</div>



{% endblock %}