{% extends "_homebase.htm" %}
{% block homebodycontent %}
<div class="row">
    <div class="col-2 border-right border-bottom">
        <button type="button" class="btn btn-light btn-lg btn-block 
        {% if '/welcome' in request.path  %}
            active
        {% endif %}"><i class="far fa-file"></i> Welcome</button>
        <button type="button" class="btn btn-light btn-lg btn-block
        {% if '/update' in request.path  %}
            active
        {% endif %}"><i class="far fa-file"></i> Update log</button>
        <a href="https://www.yahoo.co.jp/" target="_blank" role="button" class="btn btn-light btn-lg btn-block">
            <i class="far fa-question-circle"></i>Help
        </a>
    </div>
    <div class="col-10">
        {% block home_homecontent %}
        {% endblock %}
    </div>
</div>

{% endblock %}