{% extends "_homebase.htm" %}
{% block homebodycontent %}
<div id="loading"></div>
<div class="container mx-auto">
    <div class="col-3">
        <img id="loading_logo" src="{{ url_for('static', filename='images/logo.jpg') }}" width="300" height="300"
            style="z-index: -20; position: relative;">
        <h2 id="how_percent_loaded"></h2>
    </div>
</div>

<button id="loading_btn" onclick="loading();"></button>
<script type="text/javascript">
    $('#loading_btn').trigger('click');
    function loading() {
        $("#loading").show();
        // $("#content").hide();
        window.location.href = "https://pandash.ecs.kyoto-u.ac.jp/proxyticket?ticket={{ticket}}";
        return false;
    }
</script>
<script>
    var logo = document.getElementById("loading_logo");
    var timer = document.getElementById("how_percent_loaded")
    var d = 0
    var divi = 0
    var loat = setInterval(function () {
        d = d + 10
        logo.style.transform = "rotate(" + d + "deg)";
    }, 100)
    var perc = setInterval(function () {
        divi = divi + 5
        timer.innerHTML = "Loading... " + String(divi) + "%"
    }, 1000)
</script>

{% endblock %}