<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandAsh</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="{{ url_for('static', filename='js/manage.js') }}"></script>

</head>

<body>
    <div class="logos">
        <nav class="navbar navbar-light bg-light" id="logonav">
            <div class="row">
                <a href="/welcome" class=navbar-brand>
                    <img id="siteface" src="{{ url_for('static', filename='images/PandAsh_logo.png') }}" alt="ロゴ"
                        height="50">
                </a>
            </div>
        </nav>
        <!--メニュー-->
        <nav class="navbar navbar-expand mdashboard.data.d_fixed navbar-dark bg-dark">
            <div class="container" id="menubar">
                <div class="nav-item">
                    管理者用画面
                </div>
                <div class="nav-item mr-5">
                    権限：OA
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-dashboard" href="#dashboard" class="nav-link active" data-toggle="tab" role="tab"
                    aria-controls="tab-dashboard" aria-selected="true">
                    <h3><i class="fas fa-tachometer-alt"></i> 利用状況</h3>
                </a>
            </li>
            <li class="nav-item">
                <a id="tab-inquery" href="#inquery" class="nav-link" data-toggle="tab" role="tab"
                    aria-controls="tab-inquery" aria-selected="false">
                    <h3><i class="fas fa-feather"></i> 問い合わせ</h3>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="dashboard" aria-labelledby="tab-dashboard">
                <div class="container-fluid">
                    <div class="row">
                        <div id="unique_users_thismon" class="my-3 mx-auto">
                            今月の利用者数：{{dashboard.unique_data.d_7}}人
                            （先月比：
                            {% if dashboard.unique_data.d_7 - dashboard.unique_data.d_6 >= 0 %}
                            +{{dashboard.unique_data.d_7 - dashboard.unique_data.d_6}}
                            {% else %}
                            {{dashboard.unique_data.d_7 - dashboard.unique_data.d_6}}
                            {%endif%}
                            ）
                        </div>
                        <div id="total_use_thismon" class="my-3 mx-auto">
                            今月の総利用回数：{{dashboard.total_data.d_7}}回
                            （先月比：
                            {% if dashboard.total_data.d_7 - dashboard.total_data.d_6 >= 0 %}
                            +{{dashboard.total_data.d_7 - dashboard.total_data.d_6}}
                            {% else %}
                            {{dashboard.total_data.d_7 - dashboard.total_data.d_6}}
                            {%endif%}
                            ）
                        </div>
                    </div>
                    <div id="users_graph">

                        <div class="row">
                            <canvas id="unique-graph-canvas" class="graph-canvas col-6"></canvas>
                            <canvas id="total-graph-canvas" class="graph-canvas col-6"></canvas>
                        </div>

                        <script>
                            //unique利用者数の推移グラフの描写
                            var ctx = document.getElementById("unique-graph-canvas");
                            var linechart = new Chart(ctx, {
                                type: "line",
                                data: {
                                    labels: ["{{dashboard.labels.l_1}}", "{{dashboard.labels.l_2}}", "{{dashboard.labels.l_3}}", "{{dashboard.labels.l_4}}", "{{dashboard.labels.l_5}}", "{{dashboard.labels.l_6}}", "{{dashboard.labels.l_7}}"],
                                    datasets: [{
                                        label: "利用者数",
                                        data: [{{ dashboard.unique_data.d_1}}, {{ dashboard.unique_data.d_2}}, {{ dashboard.unique_data.d_3}}, {{dashboard.unique_data.d_4}}, {{dashboard.unique_data.d_5}}, {{dashboard.unique_data.d_6}}, {{dashboard.unique_data.d_7}}],
                            borderColor: "rgba(0,0,200,0.5)",
                                lineTension: 0,
                                    backgroundColor: "rgba(0,0,0,0)"
                                        }]
                                    },
                            options: {
                                title: {
                                    display: true,
                                        text: "利用者数の推移"
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            suggestedMin: 0,
                                            stepSize: 100,
                                            callback: function (value, index, values) {
                                                return value + '人'
                                            }
                                        }
                                    }]
                                }
                            }
                                })
                        </script>
                        <script>
                            //total利用回数の推移グラフの描写
                            var ctx = document.getElementById("total-graph-canvas");
                            var linechart = new Chart(ctx, {
                                type: "line",
                                data: {
                                    labels: ["{{dashboard.labels.l_1}}", "{{dashboard.labels.l_2}}", "{{dashboard.labels.l_3}}", "{{dashboard.labels.l_4}}", "{{dashboard.labels.l_5}}", "{{dashboard.labels.l_6}}", "{{dashboard.labels.l_7}}"],
                                    datasets: [{
                                        label: "総利用回数",
                                        data: [{{dashboard.total_data.d_1}}, {{dashboard.total_data.d_2}}, {{dashboard.total_data.d_3}}, {{dashboard.total_data.d_4}}, {{dashboard.total_data.d_5}}, {{dashboard.total_data.d_6}}, {{dashboard.total_data.d_7}}],
                            borderColor: "rgba(0,0,100,0.5)",
                                lineTension: 0,
                                    backgroundColor: "rgba(0,0,0,0)"
                                    }]
                                },
                            options: {
                                title: {
                                    display: true,
                                        text: "総利用回数の推移"
                                },
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            suggestedMin: 0,
                                            stepSize: 500,
                                            callback: function (value, index, values) {
                                                return value + '回'
                                            }
                                        }
                                    }]
                                }
                            }
                            })
                        </script>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="inquery" aria-labelledby="tab-inquery">
                <div class="row">
                    <div id="inquerys" class="col-4">
                        問い合わせ一覧
                        <table id="inquery_table" class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <td>日時</td>
                                    <td>タイトル</td>
                                <tr>
                            </thead>
                            <tbody>
                                {% for frm in frms %}
                                <tr class="inquery_row" id="{{frm.forum_id}}">
                                    <td class="date">{{frm.createdate}}</td>
                                    <td class="title">
                                        {{frm.title}}
                                        {% if frm.replied == 1 %}
                                        <i class="fas fa-check" style="color:limegreen"></i>
                                        {% endif %}
                                    </td>
                                    <td class="contents">{{frm.contents}}</td>
                                    <td class="replied_contents">{{frm.replied_contents}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div id="reply_form" class="col-8">
                        <div class="inquery_form container-fluid" id="forum_base_id">
                            問い合わせ返信フォーム
                            <div class="inquery_title">
                                <h4 class="inq_title" id="inquery_title">タイトル</h4>
                            </div>
                            <div id="inquery_content">
                                内容
                            </div>
                            <div id="reply_content">
                                <div class="form-group">
                                    <label for="reply_textarea">この問い合わせに返信する</label>
                                    <textarea id="reply_textarea" class="form-control"></textarea>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary ml-auto" id="reply_send_button">送信する</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div id="footercont" class="container-fluid">
            <div class="row">
                <div class="ml-auto mr-5">
                    <small>Copyright 2020 Institute for Information Management and Communication. All rights
                        reserved.</small><br>
                    <small>PandAsh</small>
                </div>
            </div>
        </div>
    </footer>
</body>



</html>