<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PandAsh</title>
    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
    <script src="https://kit.fontawesome.com/7bb95e7ca3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/manage.css') }}" type="text/css">
    <script src="{{ url_for('static', filename='js/manage.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
</head>

<body>
    <div class="logos">
        <nav class="navbar navbar-light bg-light" id="logonav">
            <div class="row">
                <a href="/welcome" class=navbar-brand>
                    <img id="siteface" src="{{ url_for('static', filename='images/PandAsh_logo.png') }}" alt="ロゴ"
                        height="50">
                </a>
            </div>
        </nav>
        <!--メニュー-->
        <nav class="navbar navbar-expand md_fixed navbar-dark bg-dark">
            <div class="container" id="menubar">
                <div class="nav-item">
                    管理者用画面
                </div>
                <div class="nav-item mr-5">
                    権限：OA
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-dashboard" href="#dashboard" class="nav-link active" data-toggle="tab" role="tab"
                    aria-controls="tab-dashboard" aria-selected="true">
                    <h3><i class="fas fa-tachometer-alt"></i> 利用状況</h3>
                </a>
            </li>
            <li class="nav-item">
                <a id="tab-inquery" href="#inquery" class="nav-link" data-toggle="tab" role="tab"
                    aria-controls="tab-inquery" aria-selected="false">
                    <h3><i class="fas fa-feather"></i> 問い合わせ</h3>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="dashboard" aria-labelledby="tab-dashboard">
                <div class="container-fluid">
                    <div id="users_thismon" class="my-3">
                        今月の利用者数：300人（先月比：+10）
                    </div>
                    <div id="users_graph">
                        <canvas id="graph-canvas"></canvas>
                        {% set d_8 = 50 %}
                        {% set d_9 = 30 %}
                        {% set d_10 = 60 %}
                        {% set d_11 = 80 %}
                        {% set d_12 = 100 %}
                        <script>
                            //利用者数の推移グラフの描写
                                var ctx = document.getElementById("graph-canvas");
                                var linechart = new Chart(ctx, {
                                    type: "line",
                                    data: {
                                        labels: ["2021年8月", "2021年9月", "2021年10月", "2021年11月", "2021年12月"],
                                        datasets: [{
                                            label: "利用者数",
                                            data: [{{d_8}}, {{d_9}}, {{d_10}}, {{d_11}}, {{d_12}}],
                                            borderColor: "rgba(0,0,100,0.5)",
                                            backgroundColor: "rgba(0,0,0,0)"
                                        }]
                                    }, 
                                    options:{
                                        title:{
                                            display:true,
                                            text:"利用者数の推移"
                                        }, 
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    suggestedMin: 0,
                                                    stepSize: 50,
                                                    callback: function (value, index, values) {
                                                        return value + '人'
                                                    }
                                                }
                                            }]
                                        }
                                    }
                                })
                        </script>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="inquery" aria-labelledby="tab-inquery">
                <div class="row">
                    <div id="inquerys" class="col-4">
                        問い合わせ一覧
                        <table id="inquery_table" class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <td>日時</td>
                                    <td>タイトル</td>
                                <tr>
                            </thead>
                            <tbody>
                                <tr class="inquery_row">
                                    <td class="date">2021/11/10 16:54</td>
                                    <td class="title">問い合わせ１</td>
                                </tr>
                                <tr class="inquery_row">
                                    <td class="date">2021/11/10 16:56</td>
                                    <td class="title">問い合わせ２</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="reply_form" class="col-8">
                        <div class="container-fluid">
                            問い合わせ返信フォーム
                            <div id="inquery_title">
                                <h4>タイトル：問い合わせ１</h4>
                            </div>
                            <div id="inquery_content">
                                問い合わせ内容
                            </div>
                            <div id="reply_content">
                                <div class="form-group">
                                    <label for="reply_textarea">この問い合わせに返信する</label>
                                    <textarea id="reply_textarea" class="form-control"></textarea>
                                </div>
                                <div class="row">
                                    <button type="submit" class="btn btn-primary ml-auto">送信する</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <footer>
        <div id="footercont" class="container-fluid">
            <div class="row">
                <div class="ml-auto mr-5">
                    <small>Copyright 2020 Institute for Information Management and Communication. All rights
                        reserved.</small><br>
                    <small>PandAsh</small>
                </div>
            </div>
        </div>
    </footer>
</body>



</html>