{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container">
    <h1 class="mb-5">設定</h1>
    <div class="row">
        <div class="col-3 border-right border-top" style="min-height: 100vh; background-color: powderblue;">
            <div class="list-group mt-3">
                <a href="#" class="list-group-item list-group-item-action d-none">言語/Language</a>
                <a href="#" class="list-group-item list-group-item-action">表示科目</a>
            </div>
        </div>
        <div class="col-9 border-top" style="background-color: whitesmoke;">
            {% include "Option_fragments/option_subject.htm" %}
        </div>
    </div>
</div>
{% endblock %}1