{% extends "_base.htm" %}
{% block bodycontent %}
<div class="cotainer container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-10">
      <h2>あなたの課題</h2>
      <div class="table-responsive">
        <table class="table table-sm" id="overviewtable">
          <thead>
            <tr class="d-flex">
              <td class="col-2"></td>
              <td class="col-2">月</td>
              <td class="col-2">火</td>
              <td class="col-2">水</td>
              <td class="col-2">木</td>
              <td class="col-2">金</td>
            </tr>
          </thead>
          <tbody>
            <tr class="d-flex">
              <td class="col-2">1</td>
              <td class="col-2">
                <a href="#">月曜1限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true" data-container='body' data-toggle="tooltip"
                    title="近世の宗教改革においてどこが重要だと考えますか。300字程度で自由に論じなさい">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true" data-container='body' data-toggle="tooltip"
                    title="近世の宗教改革においてどこが重要だと考えますか。300字程度で自由に論じなさい">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">火曜1限の科目を入力</a>
                <div class="card taskcard" draggable="true" data-container='body' 　data-placement="left"
                  data-toggle="tooltip" title="近世の宗教改革においてどこが重要だと考えますか。300字程度で自由に論じなさい">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">水曜1限の科目を入力</a>
                <div class="card taskcard" draggable="true" data-container='body' 　data-placement="right"
                  data-toggle="tooltip" title="近世の宗教改革においてどこが重要だと考えますか。300字程度で自由に論じなさい">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">木曜1限の科目を入力</a>
                <div class="card taskcard" draggable="true" data-container='body' 　data-placement="bottom"
                  data-toggle="tooltip" title="近世の宗教改革においてどこが重要だと考えますか。300字程度で自由に論じなさい">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">金曜1限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-2">2</td>
              <td class="col-2">
                <a href="#">月曜2限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">火曜2限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">水曜2限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">木曜2限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">金曜2限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-2">3</td>
              <td class="col-2">
                <a href="#">月曜3限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">火曜3限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">水曜3限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">木曜3限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">金曜3限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-2">4</td>
              <td class="col-2">
                <a href="#">月曜4限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">火曜4限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">水曜4限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">木曜4限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">金曜4限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-2">5</td>
              <td class="col-2">
                <a href="#">月曜5限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">火曜5限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">水曜5限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">木曜5限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
              <td class="col-2">
                <a href="#">金曜5限の科目を入力</a>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題１</a>
                </div>
                <div class="card taskcard" draggable="true">
                  <a href="#" draggable="true">課題2</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4>その他の科目</h4>
      <div class="card-columns">
        <div class="card elsesbjcard">
          <div class="card-header">科目名</div>
          <div class="card-body">
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題１</a>
            </div>
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題2</a>
            </div>
          </div>
        </div>
        <div class="card elsesbjcard">
          <div class="card-header">科目名</div>
          <div class="card-body">
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題１</a>
            </div>
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題2</a>
            </div>
          </div>
        </div>
        <div class="card elsesbjcard">
          <div class="card-header">科目名</div>
          <div class="card-body">
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題１</a>
            </div>
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題2</a>
            </div>
          </div>
        </div>
        <div class="card elsesbjcard">
          <div class="card-header">科目名</div>
          <div class="card-body">
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題１</a>
            </div>
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題2</a>
            </div>
          </div>
        </div>
        <div class="card elsesbjcard">
          <div class="card-header">科目名</div>
          <div class="card-body">
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題１</a>
            </div>
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題2</a>
            </div>
          </div>
        </div>
        <div class="card elsesbjcard">
          <div class="card-header">科目名</div>
          <div class="card-body">
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題１</a>
            </div>
            <div class="card taskcard" draggable="true">
              <a href="#" draggable="true">課題2</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-1 d-none d-md-block">
      <div class="container" id="dastshoot">
        <div class="d-flex align-items-center">
          ここに課題を<br>ドラッグ＆ドロップして<br>完了済みにする
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}