{% extends "_base.htm" %}
{% block bodycontent %}
<div class="container">
    <div class="row">
        <h1 class="col-8">[2020前期月5]ILASセミナー</h1>
        <button class="col-4">未入手資料を一括ダウンロード</button>
        <div class="col-12 pt-5" id="resdownload_body">
            <h2>授業資料</h2>
        </div>
        <div class="col-12">
            <span><i class="far fa-folder">[2020前期月5]ILASセミナーのリソース</i></span>
            <ul>
                <li><i class="far fa-folder">第一回</i>
                    <ul>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1a" />
                                <label class="form-check-label" for="check1a">sample1.pdf</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1a" />
                                <label class="form-check-label" for="check1a">sample1.docx</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1a" />
                                <label class="form-check-label" for="check1a">課題１.pdf</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><i class="far fa-folder">第二回</i>
                    <ul>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1a" />
                                <label class="form-check-label" for="check1a">sample2.pdf</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1a" />
                                <label class="form-check-label" for="check1a">sample2.docx</label>
                            </div>
                        </li>
                        <li>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check1a" />
                                <label class="form-check-label" for="check1a">課題2.pdf</label>
                            </div>
                        </li>
                        <li><i class="fas fa-folder-plus">ソースサンプル</i>
                            <ul>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="check1a" />
                                        <label class="form-check-label" for="check1a">index.py</label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="check1a" />
                                        <label class="form-check-label" for="check1a">page1.htm</label>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}