{% extends "_base.htm" %}
{% block bodycontent %}
<!--Modal-->
<div class="row" style="pointer-events: all;">
  <div class="col-sm-12 col-md-2 border-right">
    <div class="container" style="top:130px; position: sticky;">
      <div class="d-flex flex-md-column">
        <div class="px-3 py-2" style="background-color: silver;">
          <h6 id="searchlabel">しぼりこみ検索</h6>
          <!--曜日しぼりこみ-->
          <div class="form-group">
            <label for="select0a">科目</label>
            <select id="select0a" class="form-control" onchange="location.href=value;">
              <option value="/resourcelist">全ての曜日</option>
              <option value="/resourcelist/day/mon" {% if day=='mon' %}selected{% endif %}>月曜のみ</option>
              <option value="/resourcelist/day/tue" {% if day=='tue' %}selected{% endif %}>火曜のみ</option>
              <option value="/resourcelist/day/wed" {% if day=='wed' %}selected{% endif %}>水曜のみ</option>
              <option value="/resourcelist/day/thu" {% if day=='thu' %}selected{% endif %}>木曜のみ</option>
              <option value="/resourcelist/day/fri" {% if day=='fri' %}selected{% endif %}>金曜のみ</option>
            </select>
          </div>
          <!--時間割検索機能-->
          <button id="timesearchbutton" type="button" class="btn btn-dark" data-toggle="modal"
            data-target="#modal_timeboard_select">時間割で検索</button>
        </div>
        <form>
          <!--このボタンは使用しません-->
          <a href="#" id="allclick" style="color: white; text-decoration: none;">
            <button class="btn btn-secondary btn mt-4 btn-block d-none">
              未入手資料を一括ダウンロード
            </button>
          </a>
        </form>
        <form>
          <a href="#" id="checkedclick" style="color: white;">
            <button class="btn btn-success btn-sm btn-block">
              選択した資料をダウンロード
            </button>
          </a>
        </form>
      </div>
    </div>
  </div>
  <div id="taskmain" class="col-sm-12 col-md-10">
    <h2>未入手資料を選択しダウンロードできます</h2>




    <!-- <div class="col-12 pt-1" id="resdownload_body">
            <h2>・授業資料</h2>
        </div> -->
    <div class="col-12">
      <!-- <span><i class="far fa-folder">[2020前期月5]ILASセミナーのリソース</i></span> -->

      <div class="card-columns">
        {{ html | safe}}

        <script>
          var url = location.href
          if (url.match('/resourcelist/')) {
            //横幅を広げてあげると良い
          } else {
            $('.ressubs').attr('style', 'height: 200px; overflow-y: scroll;')
          }
        </script>
      </div>

    </div>

  </div>
</div>
</div>
<!-- <script src="{{ url_for('static', filename='js/resource.js') }}"></script> -->
<script type="text/javascript" src="/static/js/resource.js"></script>
{% endblock %}