<!--一覧表示ページ-->
{% extends "_base.htm" %}
{% block bodycontent %}
<div class = "row">
    <div class = "col-sm-12 col-md-2" id = "ScrollSearchbar">
        <div class = "container py-2">
            <div class = "row">
                <div class="col-sm-2 col-md-12">
                    <h6>しぼりこみ検索</h6>
                </div>
                <div class= "col-sm-2 col-md-12">
                     <!--曜日しぼりこみ-->
                    <div class="form-group">
                      <label for="select1a">科目</label>
                      <select id="select1a" class="form-control">
                         <option>全ての曜日</option>
                         <option>月曜のみ</option>
                         <option>火曜のみ</option>
                         <option>水曜のみ</option>
                         <option>木曜のみ</option>
                         <option>金曜のみ</option>
                      </select>
                    </div>
                </div>
                <div class = "col-sm-8 col-md-12">
                    <!--時間割検索機能-->
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modal_timeboard_select">時間割で検索</button>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-sm-12 col-md-10">
      <!--タイトル-->
       <h3>あなたの課題</h3>
       <!--アラート-->
         <div class="alert alert-danger" role="alert">
           <div class="row">
             未完了の課題が<div class = "text-danger">2</div>件あります
           </div>
         </div>
        <!--課題表-->
      <div class = "table-responsive">
        <table class="table table-sm　text-nowrap">
          <thead>
            <tr class = "d-flex">
                <th class="col-4">科目名</th>
                <th class="col-2">課題名</th>
                <th class="col-2">
                  <div class="form-group">
                    <label for="select1a">状態:</label>
                    <select id="select1a" class="form-control">
                      <option>全て</option>
                      <option>未完了のみ</option>
                    </select>
                  </div>
                </th>
                <th class="col-2">
                  <div class="form-group">
                    <label for="select2a">締め切りまで:</label>
                    <select id="select2a" class="form-control">
                      <option>全て</option>
                      <option>未完了のみ</option>
                      <option>今日中</option>
                      <option>1週間以内</option>
                    </select>
                  </div>
                </th>
                <th class="col-2">締切日</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
            <tr class = "d-flex">
                <td class="col-4">{{task.subject}}</td>
                <td class="col-2">{{task.taskname}}</td>
                <td class="col-2">{{task.status}}​</td>
                <td class="col-2">{{task.time_left}}</td>
                <td class="col-2">{{task.deadline}}</td>
            </tr>
            {% endfor %}
        </table>
       </div>
     </div>
{% endblock %}