<div id="section-resdownload">
    <div class="row align-items-center">
        <h2>・授業資料ダウンロード</h2>
        <b>　(PCのみ)</b>
    </div>
</div>
<div class="tutrialtext">
    <p>
        　PandA上にアップロードされた授業資料をダウンロードすることができます。
    </p>
    <p>
        　メニューバーの「授業資料」ボタンを押してください。科目一覧が表示されるので、資料をダウンロードしたい科目を選択してください。ページ左部のボックスからしぼりこみ検索することも可能です
    </p>
    <p>
        　授業資料が一覧で表示されます。各授業資料の左横にチェックボックスがあるので、ダウンロードしたい資料をチェックしてください。
    </p>
    <p>
        　チェックが終わったら、緑色の「選択した資料をダウンロード」のボタンを押してください。ダウンロードが始まります。
    </p>
    <p>
        　また、「未入手資料を一括ダウンロード」のボタンを押すと未入手の授業資料すべてを一度にダウンロードできます。
    </p>
</div>