{% extends "home.htm" %}
{% block home_homecontent %}


<section>
    <h2 class="border-bottom border-dark"><i class="fa fa-info-circle"></i> 不具合修正・更新予定</h2>
    <div id="update_schedule">
        <p>
            ・誠に申し訳ございませんが。現在PandAshのログイン機能に障害が発生しているため、PandAshを利用することができません。大変恐縮ですがシステムアップデートをお待ち下さい。
        </p>
    </div>
    <h2 class="border-bottom border-dark">更新ログ</h2>
    <div id="updatelog">
        <ul>
            <li>
                サービス開始　(YYYY/MM/DD HH:MM:SS)
            </li>
        </ul>
    </div>
    <h2 class="border-bottom border-dark">利用状況</h2>
    <div id="usage_status">
        <canvas id="graph-canvas" style="max-width: 500px;"></canvas>
        {% set l_1 = "2021年8月" %}
        {% set l_2 = "2021年9月" %}
        {% set l_3 = "2021年10月" %}
        {% set l_4 = "2021年11月" %}
        {% set l_5 = "2021年12月" %}
        {% set l_6 = "2022年1月" %}
        {% set l_thismon = "2022年2月" %}
        {% set d_1 = 10 %}
        {% set d_2 = 50 %}
        {% set d_3 = 30 %}
        {% set d_4 = 100 %}
        {% set d_5 = 20 %}
        {% set d_6 = 30 %}
        
        <script>
            //利用者数の推移グラフの描写
            var ctx = document.getElementById("graph-canvas");
            var linechart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: ["{{l_1}}", "{{l_2}}", "{{l_3}}", "{{l_4}}", "{{l_5}}","{{l_6}}"],
                    datasets: [{
                        label: "利用者数",
                        data: [{{ d_1 }}, {{ d_2 }}, {{ d_3 }}, {{ d_4 }}, {{ d_5 }},{{d_6}}],
                        borderColor: "rgba(0,0,100,0.5)",
                        backgroundColor: "rgba(0,0,0,0)",
                        lineTension:0
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "利用者数の推移"
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 0,
                                stepSize: 50,
                                callback: function (value, index, values) {
                                    return value + '人'
                                }
                            }
                        }]
                    }
                }
            });
        </script>
    </div>
</section>


{% endblock %}