{% extends "home.htm" %}
{% block home_homecontent %}
<div class="row">
    <section class="col-md-5 col-sm-12 mb-5">
        <h3 class="border-bottom border-dark"><b>・PandAshについて</b></h3>
        PandAshはPandAと連携したダッシュボードサービスです。右上のログインボタンからログインしてください。
    </section>
    <section class="col-md-6 col-sm-12">
        <h3 class="border-bottom border-dark"><i class="fas fa-info-circle">トピックス</i></h3>
        <div class="my-4">
            <b>サンプルメッセージ</b><br>
            (YYYY/MM/DD HH:MM:SS)
        </div>
    </section>
</div>
{% endblock %}