{% extends "home_afterlogin.htm" %}
{% block home_afterlogin_homecontent %}
<div class="container">
    <div class="row">
        <section class="col-md-5 col-sm-12 mb-5">
            <h3 class="border-bottom border-dark"><b>・新着の課題、授業資料、お知らせ</b></h3>
            <table class="table table-sm" style="font-size:14">
                <tr>
                    <td>内容</td>
                    <td>日時</td>
                </tr>
                <tr>
                    <td>サンプルサイトからサンプル課題が追加されました</td>
                    <td>0000/00/00 00:00</td>
                </tr>
                <tr>
                    <td>サンプルサイトからサンプルお知らせが公開されました</td>
                    <td>0000/00/00 00:00</td>
                </tr>
                <tr>
                    <td>サンプルサイトからサンプル授業資料が公開されました</td>
                    <td>0000/00/00 00:00</td>
                </tr>
            </table>
        </section>
        <section class="col-md-6 col-sm-12">
            <h3 class="border-bottom border-dark"><b>・PandAshからのお知らせ</b></h3>
            サンプルお知らせ<br>
            サンプルお知らせ２
        </section>
    </div>
</div>
{% endblock %}