{% extends "home.htm" %}
{% block home_homecontent %}
<div class="row">
    <section class="col-md-5 col-sm-12 mb-5">
        <h3 class="border-bottom border-dark"><b>・PandAshについて</b></h3>
        PandAshはPandAと連携したダッシュボードサービスです。右上のログインボタンからログインしてください。
    </section>
    <section class="col-md-6 col-sm-12">
        <h3 class="border-bottom border-dark"><i class="fas fa-info-circle">トピックス</i></h3>
        <!--トピックメッセージのフォーマット-->
        <div class="my-4">
            <b>
                ・PandAshを利用する際のお願い
                <br>PandAshはPandAの課題データと同期しておりますが、サーバーの負荷軽減のため、ログイン時を除いて課題、履修科目の更新は基本<strong>手動</strong>となっています。
                <br>手動で課題をPandAと同期させる場合はログイン後各ページの右上にある「情報を更新」、
                <br>履修科目をPandAと同期させる場合はログイン後右上の「メニュー」->「設定」->「表示科目」より、「更新する」
                <br>を押すようお願いいたします。
            </b><br>
            2021/02/10 19:24:00
        </div>
        {% macro topicmess(txt, dat) %}
        <div class="my-4">
            <b>{{ txt }}</b><br>
            ({{ dat }})
        </div>
        {% endmacro %}
        <!---->
<!-- 
        {{ topicmess('テストのため、課題の未完了・完了の変更をリセットしました。
                    <br>そのため、これまでに完了にした課題が未完了に戻っています。
                    <br>また、リセット後の初めてのアクセス時はログインにかかる時間が長くなっておりますのでご注意ください。
                    <br>β版のため、今後もリセットを行う可能性がありますのでご理解の程よろしくお願い致します。', '2021/01/25 20:25:50') }}
        {{ topicmess('サンプルメッセージ2', 'YYYY/MM/DD HH:MM:SS') }} -->
    </section>
</div>
{% endblock %}